main.pdf
*.tex~
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.bbl
*.blg
*.fdb_latexmk
*.vtc
*.out
*.bbl
*.fls
*.axp
*.nav
*.snm
*.cut
*.dot
*.bak
*.pyc
